@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
  font-family: 'Sofia Condensed', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 2;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

section {
  margin-bottom: 30px;
}
